.b-vitrine {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    min-width: 980px;
}
.b-vitrine .carousel-inner {
    height: 100%;
}
.b-vitrine .item {background:#999; overflow:hidden; height:100%;width: 100%}
.b-vitrine .item img {width:100%; height: auto; position: absolute; max-width: none;}
.b-vitrine .title a:link, .b-vitrine .title a:visited {color:#fff}
.b-vitrine .text {margin-bottom:10px}

.b-vitrine .item {
    -webkit-transition:opacity 0.7s ease-in-out;
    -moz-transition:opacity 0.7s ease-in-out;
    -o-transition:opacity 0.7s ease-in-out;
    transition:opacity 0.7s ease-in-out;
    left: 0 !important;
}
.b-vitrine .next.left, .b-vitrine .prev.right {opacity: 1; z-index: 1;}
.b-vitrine .active.left, .b-vitrine .active.right {opacity: 0; z-index: 2;}