
@font-face {
    font-family: 'Didact Gothic';
    src: url('/themes/business/css/didactgothic.eot');
    src: url('/themes/business/css/didactgothic.eot?#iefix') format('embedded-opentype'),
         url('/themes/business/css/didactgothic.woff') format('woff'),
         url('/themes/business/css/didactgothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}