html, body {
    height: 100%;
    width: 100%;
}
body {
  	padding:0;
    /*overflow-y: hidden;*/
	width: 99%;
	height: 99%;
    min-width: 980px;
font-size:16px;
    /*
	background-attachment: fixed;
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;*/
    font-family: 'Didact Gothic', sans-serif;}

body.printPage {text-align:left}
body.printPage h1 {margin:15px}
#yii-debug-toolbar-swither {top:50px}
#yii-debug-toolbar-swither .close  {opacity:1}
p{font:16px/22px 'Didact Gothic', sans-serif;, sans-serif;}

/****************************************/
.main-bg {
	
}

#wrap { 
    border:none;
    height: auto !important;
    margin: 0 auto 0 auto;
    min-height: 100%;
    position: relative;
}

#main {
    clear: both;
    padding: 0 0 85px;
    width: 70%;
}



#head {height: 95px;//height: 180px; /*padding: 35px 23px 23px 35px;*/ position: relative;}
#head .logo {/*width: 440px; padding: 0; position: absolute; top: 0; right: 0;*/
/*width: 550px;*/
padding: 0;
position: absolute;
right: -14px;
}
#head .logo img {border: 0 none; max-width: 100%;width:100%;}
#head .cname {
	position: absolute;
/*	top: 30px;
	left: 35px;
	width: 74px; */
	top: 26px;
	left: 46px;
	width: 87px;
}
#head .cname img {
	max-width: 100%;
	width:100%;
}
#head .cname p {margin-top: 3px; padding: 0;}
#head .tright {
	margin-top:40px;
	//margin-right: 384px;
	margin-right:425px;
	position:relative;
	z-index: 3;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #1b367f;
	line-height: normal;
}

#head .tright .mail {
	font-size: 12px !important;
}

#head .tright .mail a:link, #head .tright .mail a:visited {
	color: #1b367f;
	border-bottom: 1px solid #1b367f;	 
}

#head .tright .mail a:hover {
	border-bottom: none;
	text-decoration: none;
}

#head .tright .numbers {text-align: right;}
#head .tright .numbers p {margin: 2px; font-size: 18px; color: #1b367f; font-family: 'Open Sans', sans-serif;}
#head .tright .numbers p strong {margin: 0; padding: 0;}

#footer {padding:20px 0; height:85px; margin: -85px auto 0; position: relative; text-align: center;}
#footer .logo img {width:100px}

.footer_inner {
    margin: 0;
}

.b-menu-bottom {
 	display: inline-block;
 	background-color: rgba(235, 236, 236, 0.78);
 	border: 1px solid rgba(225, 226, 226, 0.69);
 	border-radius: 10px;
 	min-height: 20px;
    text-align: left;
}

.b-menu-bottom_inner {
	border: none;
	background: transparent;
	padding: 0;
}

.b-menu-bottom_navigation>li>a{
	background-color: transparent !important;
	color:#1b367f !important;
    padding: 12px 21px 4px 17px;
    font-size: 24px;
}

.b-menu-bottom_navigation>li>a::after {
	content: "•";
	color: #1b367f;
	margin-left: 36px;
}

.b-menu-bottom_navigation li:last-child a::after  {
	display: none;
}

#text_body {

}

#container {
}
#content {
    position: static;
}
#sidebarLeft, #sidebarRight {margin-top: 25px;}
.block .inside {padding: 10px 25px 0;}



table.table0 td p, table.table1 td p, table.table2 td p {
    margin: 0;
    padding: 0;
}
table.table0 {
    border-collapse: collapse;
}
table.table0 td {
    border: medium none;
    padding: 5px;
}
table.table1 {
    border-collapse: collapse;
}
table.table1 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 {
    border-collapse: collapse;
}
table.table2 td {
    border: 1px solid #CCCCCC;
    padding: 5px;
}
table.table2 th {
    background: none repeat scroll 0 0 #FF7B12;
    border: 1px solid #FFFFFF;
    color: #111111;
    padding: 8px 5px;
    text-align: center;
}
table.table3 {
    border-collapse: collapse;
}
table.table3 td {
    border: 1px solid #CCCCCC;
    padding: 1px;
    text-align: center;
    width: 8px;
}
table.table3 td.name {
    border: 1px solid #CCCCCC;
    padding: 1px 1px 1px 5px;
    text-align: left;
    width: 8px;
}
table.table3 th {
    background: none repeat scroll 0 0 #3863BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 1px;
    text-align: center;
}
table.table1 tr:hover, table.table2 tr:hover, table.table3 tr:hover {
    background: none repeat scroll 0 0 #EEEEEE;
}

/* Виджет меню слева */
.b-menu-side-list {padding: 8px 0; position: relative; border:1px solid #eee}
.b-menu-side-list ul {list-style: none;}
.b-menu-side-list li {font-size:18px}
.b-menu-side-list .nav-list  li  a {padding:10px 15px}
.b-menu-side-list .nav-list .nav-list  li  a {padding:8px 15px}
.b-menu-side-list .nav-list .nav-list .nav-list  li  a {padding:6px 15px}
.b-menu-side-list li li {font-size:16px;}
.b-menu-side-list .nav-list .nav-list > .active > a {background:none; color:#000}
.b-menu-side-list li li li {font-size:14px;}
.b-menu-side-list .nav-list .nav-list .nav-list > .active > a {background:none; font-weight:bold; color:#000}

.b-menu-top .nav-collapse:after {clear:both; content: ""; display: table; line-height: 0;}
.b-menu-top .pull-right {margin-top:4px; margin-bottom:0}
.b-menu-top .dropdown-menu .caret {display:none}

.wShare{margin:0}
.wShare td{text-align:left;}

.b-ajax-process {background:url(../../../ngin/assets/gfx/loading_s.gif) no-repeat 0 0; display:inline-block; visibility:hidden; width:16px; height:16px; line-height:16px; vertical-align:text-top;}
.b-ajax-process-active {visibility:visible;}

.pagination .b-ajax-process {margin-left:20px; margin-top:-15px}
#back-top {
    display: none;
}
#back-top { font-size: 20px;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.3; 
    position: fixed;
    top: 0; 
    height:100%; cursor: pointer;
    width: 40px;
}
#back-top:hover{ opacity: 0.9;  background:#F0F0F0;}
#back-top span{display:block; padding:10px}

.b-purchase {
    position: absolute;
    //bottom: 40%;
    right: 100px;
    //width: 250px;
    width:305px;
    font-size: 20px;
    z-index: 4;
   // margin-top:75px;
	margin-top: 160px;
	}

.b-purchase__buy-btn > a {
    background: url("/themes/business/gfx/buy_button.png") no-repeat 0 0;
    /*width: 221px;
    height: 78px;*/
    width:282px;
    height:100px;
    background-size:cover;
}

.b-purchase__text span{
	margin-top: 10px;
	//margin-left: 13px;
}

.b-purchase__text span{
    background-color: rgba(255,255,255,.5);
    border-radius: 4px;
    line-height: 20px;
    display: inline-block;
    padding: 0 3px;
    color: #160c70;
    font-size: 27px;
}

.b-customer-menu {
    position: fixed;
  /*  top: 50%;
    margin-top: -213px;
    left: 19px; */
    margin-top:-19px;
    top:160px;
    left:27px;
    background: #44c6e0;
    border: 1px solid #deffff;
   /* width: 101px;
    height: 425px; */
    width:100px;
    height:425px;
    z-index: 100;
    border-radius: 10px;
}

.b-customer-menu .item {
    position: relative;
    //width: 88px;
    width:65px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #7f95a6;
    padding-top: 10px;
}

.b-customer-menu .item a {
    background: url(/themes/business/gfx/menu_sprite.png) no-repeat;
    //width: 88px;
    width:65px;
	height:72px;
    display: block;
    font-weight: bold;
    color: #7f95a6;
    text-decoration: none;
    text-shadow: #fff 0px 1px 1px;
	background-size:cover;
}

.b-customer-menu .toggle {
    position: absolute;
    top: 50%;
    right: -14px;
    margin-top: -19px;
    display: block;
}

.b-customer-menu .toggle span {
    display: block;
    width:20px;
    height: 38px;
}

.b-customer-menu .toggle .arrow {
    cursor: pointer;
    background: url(/themes/business/gfx/menu_toggle.png) no-repeat 0 0;
}

.b-customer-menu.hidden_menu .toggle .arrow {
    background: url(/themes/business/gfx/menu_untoggle.png) no-repeat 0 0;
}

.b-customer-menu .item.icon-2 a {
   /*padding-top: 84px;
     background-position: 6px 0;*/
     //padding-top:115px;
    background: url(/themes/business/gfx/zakaz.png) no-repeat 0 0;
    background-size:cover;
}

.b-customer-menu .item.icon-3 a {
  /*  padding-top: 74px;
    background-position: -106px -104px;*/
   //padding-top:115px;
    background: url(/themes/business/gfx/novichkam.png) no-repeat 0 0;
    background-size:cover;
}

.b-customer-menu .item.icon-4 a {
    /*padding-top: 83px;
    background-position: -248px -224px;*/
    //padding-top:115px;
    background: url(/themes/business/gfx/akcii.png) no-repeat 0 0;
     background-size:cover;
}

.b-customer-menu .item.icon-5 a {
    /*padding-top: 78px;
    background-position: -398px -380px;*/
   // padding-top:100px;
    background: url(/themes/business/gfx/novosti.png) no-repeat -4px 0;
     background-size:cover;
}

.b-customer-menu .item.icon-1 a {
    /*padding-top: 78px;
    background-position: -398px -380px;*/
   // padding-top:100px;
    background: url(/themes/business/gfx/buy-water.png) no-repeat -15px 0;
     background-size:cover;
}

.b-customer-menu .item.icon-2:hover a {
    //background-position: -554px -486px;
    background: url(/themes/business/gfx/zakaz2.png) no-repeat 0 0;
    background-size:cover;
}

.b-customer-menu .item.icon-3:hover a {
    /*background-position: -711px -613px;*/
    background: url(/themes/business/gfx/novichkam2.png) no-repeat 0 0;
    background-size:cover;
}

.b-customer-menu .item.icon-4:hover a {
    /*background-position: -876px -728px;*/
    background: url(/themes/business/gfx/akcii2.png) no-repeat 0 0;
    background-size:cover;
}

.b-customer-menu .item.icon-5:hover a {
    /*background-position: -876px -883px;*/
     background: url(/themes/business/gfx/novosti2.png) no-repeat -4px 0;
    background-size:cover;
}

.b-customer-menu .item.icon-1:hover a {
    /*background-position: -876px -883px;*/
     background: url(/themes/business/gfx/buy-water2.png) no-repeat -15px 0;
    background-size:cover;
}

.b-cabinet-btn {
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
}

.b-cabinet-btn a.btn-private, .b-cabinet-btn a.btn-private:active, .b-cabinet-btn a.btn-private.active {
    width: 90px;
    height: 37px;
    background: url(/themes/business/gfx/user_cabinet.png) no-repeat 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.b-cabinet-btn a.btn-enter, .b-cabinet-btn a.btn-enter:active, .b-cabinet-btn a.btn-enter.active {
    width: 90px;
    height: 37px;
    background: url(/themes/business/gfx/enter.png) no-repeat 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.b-cabinet-btn a.btn-sign-in, .b-cabinet-btn a.btn-sign-in:active, .b-cabinet-btn a.btn-sign-in.active {
    width: 90px;
    height: 37px;
    background: url(/themes/business/gfx/sign_in.png) no-repeat 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.b-water-modal.in .modal-dialog {
	-webkit-transform: translate(0,45%);
	-ms-transform: translate(0,45%);
	transform: translate(0,45%);
}

.b-water-modal .modal-content{
	background-color: #44c6e0;
	border: 1px solid #fff;
}

.b-water-modal .modal-header {
	border-bottom: none;	
}

.b-water-modal .modal-footer {
	border-top: none;
}

.b-water-modal .close {
	color: #fff;
	opacity: 1;
	margin-top: -7px;
	margin-right: -3px;
	font-size: 25px;
}

.b-water-modal .modal-title {
	text-align: center;
	color: #fff;
	padding: 14px 0 10px;
	font-size: 30px;
	margin-left: -3px;
}

.b-water-modal .modal-body {
	padding: 10px;
	text-align: center;
}

.b-water-modal .auth-form {
	width: 313px;
	margin: 0 auto;
}

.b-water-modal .form-group {
	position: relative;
}

.b-water-modal .form-control {
	border-radius: 10px;
	background-color: #1d89c1 !important;
	border: 1px solid #1f9fd1;
	color: #fff;
	font-size: 18px;
	text-align: center;
	-webkit-box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
	-moz-box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
	-ms-box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
	-o-box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
	box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
}

.b-water-modal .form-control::-webkit-input-placeholder {
    color: #fff;
}

.b-water-modal .form-control:-moz-placeholder {
    color: #fff;
}

.b-water-modal .form-control::-moz-placeholder {
    color: #fff;
}

.b-water-modal .form-control:-ms-input-placeholder {
    color: #fff;
}

.b-water-modal .forgot-pass {
	position: absolute;
	right: -96px;
	top: 11px;
	font-size: 11px;
}

.b-water-modal .forgot-pass:link, .b-water-modal .forgot-pass:visited {
	color: #1b367f;
}

.b-water-modal .modal-footer {
	text-align: center;
	margin-top: 0;
	padding: 18px 25px 31px 25px
}

.b-water-modal .register {
	font-size: 18px;
	text-shadow: 1px 0 0 #2084ba;
	border-bottom: 1px solid #1b367f; 
}

.b-water-modal .register:link, .b-water-modal .register:visited {
	color: #1b367f;
}

.b-water-modal .register:hover {
	border-bottom: none;
	text-decoration: none;
}

.b-water-modal .remember-check {
	text-align: left;
	display: inline-block;
	vertical-align: top;
	float: left;
}

.b-water-modal .remember-check input[type="checkbox"] {
	display: none;
}

.b-water-modal .remember-check input[type="checkbox"] + label {
	font-size: 11px;
	cursor: pointer;
	margin-top: 0;
	margin-left: 0;
	color: #1b367f;
}

.b-water-modal .remember-check input[type="checkbox"] + label::before {
	content: "";
	display: inline-block;
	height: 16px;
	width: 17px;
	margin: 0 7px 0 0;
	background-image: url(/themes/business/gfx/form_checkbox.png);
	background-repeat: no-repeat;
	vertical-align: top;
}

.b-water-modal .remember-check input[type="checkbox"] + label::before {
	background-position: 0 0px;
}

.b-water-modal .remember-check input[type="checkbox"]:checked + label::before {
	background-position: 0 -18px;
}

.b-water-modal .sign-in, .b-water-modal .sign-in:active, .b-water-modal .sign-in.active {
	background: url(/themes/business/gfx/sign_in.png) no-repeat 0 0;
	width: 92px;
	height: 35px;
	text-indent: -9999em;
	margin-top: 6px;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	float: right;
}

@media (min-width: 768px) {
	.b-water-modal .modal-dialog {
		width: 569px;
	}
}

.b-water-modal__nav-link {
font-size:16px;
display: block;
width: 480px;
height: 36px;
padding: 6px 12px;
line-height: 1.42857143;
border-radius: 10px;
background-color: #1d89c1 !important;
border: 1px solid #1f9fd1;
color: #fff;
text-align: center;
box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
-webkit-box-shadow: inset 0px -1px 0px 1px #1e83ba, 0 0 0 1px #24d0f4;
margin:10px auto;
}

.b-water-modal__nav-link:hover
{
	color:#fff;
}

.b-water-modal .register
{
	margin:0 auto;
}

.b-about {
    position: relative;
}

.b-about_inner {
    width: 80%;
    margin: 0 auto;
}

.b-about_arrow {
    position: absolute;
    top: 40%;
}

.b-about_arrow a {
    font-size: 60px;
    color: #44c6e0;
}

.b-about_arrow.left {
    left: 0;
}

.b-about_arrow.right {
    right: 0;
}

.b-about_text {
    width: 80%;
    margin: 0 auto;
}

.b-about_dots {
    text-align: center;
    margin: 20px 0;
}

.b-about_dots a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 10px;
}

.b-about_dots a.active {
    background-color: #44c6e0;
}

.b-water-order .water-selector .price {
    padding: 15px 0;
}

.water-selector .item {
	margin-bottom:10px;
}

.water-selector .item .title h3{
	margin:0;
	text-align:center;
	margin-bottom:15px;
}

.water-selector .item .short {
	font-size:12px;
}

.water-selector .item-descr {
	display:inline-block;
}

.b-water-order input.form-control[type=checkbox]{
	box-shadow:none;
}

.b-water-order .water-selector input[type=number] {
	border:2px solid #ccc;
	border-radius:4px;
	width:50px;
	padding:0 2px;
}

/*сноска выделена красным*/
.water-selector .alert {
	padding:0 !important;
}

.water-selector .alert b {
	color: #f00;
}


.b-carousel-top-menu {
	margin:0 0 30px;
	height:40px;
	width:100%;
	text-align:center
	}
	
.b-carousel-top-menu__item {
	display:inline-block;
	}
		
.b-carousel-top-menu__item:before{
	color:#CCCCCC;
    content: "\2022";
    font-size:30px;
    vertical-align:middle;
	}
	
.b-carousel-top-menu__item:first-child:before{

    content: " ";
	}
	
.b-carousel-top-menu .btn {
	background:#44C6E0;
	color:#fff;
	font-size:20px;
	border:0;
	border-radius:5px;
	}
.b-carousel-top-menu .btn-primary {
	color:#275198;
	}

.b-registration .tab-content{margin-top:20px}
.b-registration span.required{color: #44c6e0;}


#daAlert .alert-success{background: #44c6e0;    border-color: #fff;    color: #fff;}
#daAlert .modal-footer {border-top: 1px solid #fff;}
#daAlert .modal-dialog {
height: 172px;
margin: -120px auto 0 -300px;
top: 50%;
width: 600px;
position: absolute; 
left: 50%;}

.js_water_select_form .photo{text-align:center; width:100%; vertical-align:top; cursor:pointer;text-align:center;border:none !important;}
.js_water_select_form .photo img{max-height:320px;}
.b_actions-carousel .carousel-inner > .item a{display:inline-block; vertical-align:top; width:31%;max-width:32%;overflow:hidden;}
.carousel-inner > .item > a > img{margin:0 auto; border-radius:5px;border:1px solid #44C6E0; 
}
.carousel-inner > .item > a:nth-child(2) {margin:0 1.5%;}

.b_actions-carousel .left.carousel-control{color: #44c6e0; font-size: 60px; background:none;}
.b_actions-carousel .glyphicon-chevron-left{ font-size: inherit;
    height: auto; text-shadow:none;
    margin:0; top:33%; left:-9px;
    width: auto;}
.b_actions-carousel .right.carousel-control{color: #44c6e0; font-size: 60px; background:none;}
.b_actions-carousel .glyphicon-chevron-right{ font-size: inherit;
    height: auto; text-shadow:none;
    margin:0; top:33%; right:0;
    width: auto;}

.b_actions-carousel .carousel-control{width:5%; opacity:1}
.b_actions-carousel .carousel-inner {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 83%;
}

ol.carousel-indicators {
	position:relative;
	margin-top: 50px;
}

ol.carousel-indicators li {
	border:1px solid #44C6E0;
}

ol.carousel-indicators li.active {
	background: #44C6E0;
}

@media screen and (max-width: 980px) {
.col-checkBox{width:30px; float:left;}
}

input[type="checkbox"]{width:auto;height: auto;}

.breadcrumb {
	background:none;
}

.b-about a.text-left {
    color: #000;
    font-size: 19px;
    margin-top: 20px;
    display: block;
}